<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="dist/css/diss.css">
   
 </head>
 <style>
   
 </style>
 <body>
    <p>SeedInvest's due diligence process is no guarantee of success or future results. All investors should carefully review each investment opportunity and cancel their subscription within the allotted time-frame if they do not feel comfortable making any specific investment based on their own DD. Learn more about due diligence on the SeedInvest Blog (https://www.seedinvest.com/blog/angel-investing/how-to-assess-an-investment) and our vetting process in our FAQs (https://intercom.help/seedinvest/en/).</p><br>
    <p>SeedInvest's selection criteria does not suggest higher quality investment opportunities nor does it imply that investors will generate positive returns in investment opportunities on SeedInvest. Learn more about due diligence on the SeedInvest Blog <a href="">(https://www.seedinvest.com/blog/angel-investing/how-to-assess-an-investment)</a> and our vetting process in our FAQs <a href=""> (https://intercom.help/seedinvest/en/)</a>.</p>
    <br>
    <p>
        Diversification is only across multiple early-stage investment opportunities within the asset class. There is no guarantee that this program will lead to a well-balanced portfolio of companies across industry types or stages across the asset class. In addition, enrolling in this program will not lead to diversification across your entire investment portfolio. In order to achieve diversification, we do not recommend you allocate more than 10% of your entire investment portfolio to alternative assets.</p><br>
        <p>Testimonials may not be representative of the experience of others and are no guarantee of future performance or success. No individuals were compensated in exchange for their testimonials.</p>
    
</body>
</html>